logintitle{
    color: black;
    border: 0px;
    font-size: 20pt;
    text-transform: uppercase;
    table-layout: fixed;
    font-weight: 100;
}


body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial;
}

.titlebar{
    width: 100vw
}
.titleline{
    width: 100vw;
    size: 2;
    color: black;
}

.titlebar .title{
    font-weight: 400;
    font-size: 20pt;
    cursor: pointer;
}

.titlebar .title:hover{
    font-weight: 500;
    font-size: 20pt;
}

button, input, select{
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.loginmenu > *{

    width: 200pt;
    margin: 4px;
    padding: 4px;
}

.loginmenu button{
    width: 100%;
}

.loginmenu input, select{
    width: 95%;
}

.loginmenu{
    width: 200pt;
    margin:0 auto;
}

.form{

}

.form text[class="title"] {
    font-size: 16pt;
}

.form li[class="attr"] {
    font-size: 14pt;
    padding-left: 20pt;
}

.leftpanel{
    vertical-align: top;
    background: #ccccff;
    padding-right:12px;
    height: 100vh;
    width: 30vw;
}

.leftpanel .button{
    height: 2em;
    line-height: 2em;
    width: 100%;
    padding-left: 1em;
    cursor: pointer;
}

.leftpanel > .email{
    height: 2em;
    line-height: 3em;
    width: 20em;
    margin-left: 1.5em;
    font-size: 120%;
}

.leftpanel > .button:hover{
    background: #FCBEDC;
}

.leftpanel > .button[selected="true"]{
    font-weight: 600;
}

.docitem{
    width: 70vw;
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 1em;
}

.docimg{
    width: 6em;
    height: 6em;
}

.docitem:hover{
    background: #ffccff;
}

.docitem:hover[editable]{
    background: #ffffff;
    cursor: default;
}

.docitem td{
    vertical-align: top;
}

.docitem h1{

}

.buttonbar{
    text-align: right;
    bottom: 1em;
    right: 3em;
}

.searchresults{
    z-index: 5;
    position: absolute;
}

.menubutton{
    display: none;
}

@media (max-width: 854px) {
    .menubutton{
        left: 1em;
        top: 1em;
        display: inherit;
        cursor: pointer;
        width: 2em;
        height: 2em;
    }

    .leftpanel{
        width: 80vw;
    }
}